@model ChampionshipMvc3.Models.DataContext.Playfield
@using ChampionshipMvc3.Models.Repositories

<script src="@Url.Content("~/Scripts/CustomScripts/tableFillerScheduleLayout.js")" type="text/javascript"></script>
    
<table id="structureTable">
    <tr>
        @{
            ReservationRepository reservationRepo = new ReservationRepository();
            var allReservations = reservationRepo.GetPlayfieldReservations(Model.PLayfieldID);
            DateTime displayDate = ViewBag.StartScheduleDay;
        }
        @for (int dayIndex = 0; dayIndex < 7; dayIndex++)
        {
            string typeOfCell = "";


            <td class="inner-table-holder">
                <label>
                    @displayDate.DayOfWeek
                    <br />
                    @displayDate.ToShortDateString()
                </label>

                <table class="inner-table">

                    @for (int hourIndex = Model.PlayfieldOwner.StartHour; hourIndex < Model.PlayfieldOwner.EndHour; hourIndex++)
                    {

                        if (hourIndex == Model.PlayfieldOwner.StartHour)
                        {
                            typeOfCell = "first";
                        }
                        else if (hourIndex % 2 != 0)
                        {
                            typeOfCell = "not-even";
                        }
                        else
                        {
                            typeOfCell = "even";
                        }

                        bool isReserved = false;
                        <tr>
                            <td class="@typeOfCell" style="color: #6c6f67">
                                <a data-toggle="modal" href="#myModal">
                                    @{
                        var compareDate = DateTime.Parse(displayDate.ToShortDateString() + " " + hourIndex.ToString() + ":00");
                        if (allReservations.Any(r => r.ReservedDateHour.Equals(compareDate)))
                        {
                            isReserved = true;
                        }
                                    }
                                    @isReserved

                                    @Html.Hidden("date", displayDate.ToShortDateString(), new { @class = "hiddenDateClass" })
                                    @Html.Hidden("hour", hourIndex, new { @class = "hiddenHourClass" })
                                </a>
                            </td>

                        </tr>
                    }
                </table>
            </td>
            displayDate = displayDate.AddDays(1);
}
    </tr>
</table>


