@model ChampionshipMvc3.Models.DataContext.PlayfieldOwner

@{
    ViewBag.Title = "Owner Details";
}

<link href="../../Content/CustomStyles/PlayfieldLayoutDesign.css" rel="stylesheet" />
<script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/CustomScripts/jQueryLibrary.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/CustomScripts/googleMapsLoad.js")" type="text/javascript"></script>

<h2>PlayfieldDetails</h2>

<div>

    <script>
    </script>

    <div id="mainCustom">
        <div id="map_canvas"></div>
        <label>@Html.DisplayFor(model => model.Name)</label>
    </div>

    <div id="mainCustomFieldInfo">
        <table>
            <tr>
                <td>
                    <div class="display-label">Address: @Html.DisplayFor(model => model.Address)</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">Neighbourhood: @Html.DisplayFor(model => model.Neighbourhood)</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">StartHour: @Html.DisplayFor(model => model.StartHour)</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">EndHour: @Html.DisplayFor(model => model.EndHour)</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">PhoneNumber: @Html.DisplayFor(model => model.PhoneNumber)</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="display-label">City: @Html.DisplayFor(model => model.City)</div>
                </td>
            </tr>
        </table>
    </div>
</div>
<br />
<br />
<br />
<div>
    @*@Html.Action("ListAllPlayfields", "Playfield", new { ownerId = Model.OwnerPlayfieldID})*@ ,
   @* @Html.Partial("_Schedule", Model.Schedule)*@
    @Html.Partial("PlayfieldList", Model.Playfields);
</div>


