@model IEnumerable<ChampionshipMvc3.Models.DataContext.PlayfieldOwner>

@{
    ViewBag.Title = "PlayfieldOwnerResult";
}
<script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/CustomScripts/googleMapsScript.js")" type="text/javascript"></script>

<table id="playFieldOwnerTable">

@foreach (var item in Model) {
   
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)<br />
            <img src="../../Images/background2.jpg" id="testImage"/>
        </td>
        <td>
            Coordinates
           <div id="map_canvas" ></div>
        </td>
        <td>
            <table>
                <tr>
                    <td><label>Address: </label></td>
                    <td>@Html.DisplayFor(modelItem => item.Address)</td>
                </tr>
                <tr>
                    <td>Phone: </td>
                    <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                </tr>
                <tr>
                    <td>Price with lights: </td>
                    <td>@Html.DisplayFor(modelItem => item.PriceLights)</td>
                </tr>
                <tr>
                    <td>Price without lights: </td>
                    <td>@Html.DisplayFor(modelItem => item.PriceNoLights)</td>
                </tr>
            </table>
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.OwnerPlayfieldID }, new { @class = "details" }) |
        </td>
        <td id="setLat">
            @Html.HiddenFor(modelItem => item.Lat)
        </td>
        <td id="setLong">
            @Html.HiddenFor(modelItem => item.Long)
        </td>
    </tr>
}

</table>
