@model ChampionshipMvc3.Models.DataContext.Playfield
@using ChampionshipMvc3.Models.Repositories

    
<link href="../../Content/customBootstrap.css" rel="stylesheet" />
<link href="../../Content/Site.css" rel="stylesheet" />
<script src="../../Scripts/CustomScripts/bootstrap.minPlayNow.js"></script>
<script src="../../Scripts/CustomScripts/ownerPanel.js"></script>
<script src="../../Scripts/CustomScripts/tableFillerScheduleLayout.js"></script>


<table id="structureTable">
    <tr>
        @{
            ReservationRepository reservationRepo = new ReservationRepository();
            var allReservations = reservationRepo.GetPlayfieldReservations(Model.PLayfieldID);
            DateTime displayDate = ViewBag.StartScheduleDay;
        }
        @for (int dayIndex = 0; dayIndex < 7; dayIndex++)
        {
            string typeOfCell = "";


            <td class="inner-table-holder">
                <label>
                    @displayDate.DayOfWeek
                    <br />
                    @displayDate.ToShortDateString()
                </label>

                <table class="inner-table">

                    @for (int hourIndex = Model.PlayfieldOwner.StartHour; hourIndex < Model.PlayfieldOwner.EndHour; hourIndex++)
                    {

                        if (hourIndex == Model.PlayfieldOwner.StartHour)
                        {
                            typeOfCell = "first";
                        }
                        else if (hourIndex % 2 != 0)
                        {
                            typeOfCell = "not-even";
                        }
                        else
                        {
                            typeOfCell = "even";
                        }

                        bool isReserved = false;
                        <tr>
                            <td class="@typeOfCell" style="color: #6c6f67">
                                <a data-toggle="modal" href="#myModal">
                                    @{
                        var compareDate = DateTime.Parse(displayDate.ToShortDateString() + " " + hourIndex.ToString() + ":00");
                        if (allReservations.Any(r => r.ReservedDateHour.Equals(compareDate)))
                        {
                            isReserved = true;
                        }
                                    }
                                    @isReserved

                                    @Html.Hidden("date", displayDate.ToShortDateString(), new { @class = "hiddenDateClass" })
                                    @Html.Hidden("hour", hourIndex, new { @class = "hiddenHourClass" })
                                </a>
                            </td>

                        </tr>
                    }
                </table>
            </td>
            displayDate = displayDate.AddDays(1);
}
    </tr>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Reservation Information</h4>
      </div>
      <div class="modal-body">
          @Html.Partial("~/Views/Playfield/_ReservationModel.cshtml", new ChampionshipMvc3.Models.DataContext.Reservation())
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="reservationButton" value="Reserve" class="btn btn-default reservationBtn">Reserve</button>
      </div>
    </div>
  </div>
</div>
<script src="../../Scripts/CustomScripts/reservationJS.js"></script>
