    @model IEnumerable<ChampionshipMvc3.Models.DataContext.PlayfieldOwner>

@{
    ViewBag.Title = "PlayfieldOwnerResult";
}
<table id="playFieldOwnerTable">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
            <img src="../../Images/background2.jpg" id="testImage"/>
        </td>
        <td>
            Coordinates
           <div id="map_canvas" ></div>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.OwnerPlayfieldID }) |
        </td>
        <td id="setLat">
            @Html.HiddenFor(modelItem => item.Lat)
        </td>
        <td id="setLong">
            @Html.HiddenFor(modelItem => item.Long)
        </td>
    </tr>
}

</table>
