@model IEnumerable<ChampionshipMvc3.Models.DataContext.PlayfieldOwner>

@{
    ViewBag.Title = "PlayfieldOwnerResult";
}

<table id="playFieldOwnerTable">
    <tr>
        <th>
            Name
        </th>
        <th>
            Address
        </th>
        <th>
            StartHour
        </th>
        <th>
            EndHour
        </th>
        <th>
            PhoneNumber
        </th>
        <th>

        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndHour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.OwnerPlayfieldID }) |
        </td>
        <td>
            @Html.HiddenFor(modelItem => item.Lat)
        </td>
        <td>
            @Html.HiddenFor(modelItem => item.Long)
        </td>
    </tr>
}

</table>
