@model ChampionshipMvc3.Models.DataContext.Playfield

@{
    ViewBag.Title = "PlayfieldDetails";
}



<fieldset>
   

    <div class="display-label">PlayfieldName: @Html.DisplayFor(model => model.PlayfieldName)</div>
    
    <div class="display-label">FieldType: @Html.DisplayFor(model => model.FieldType)</div>
    
    <div class="display-label">SurfaceType: @Html.DisplayFor(model => model.SurfaceType)</div>

    <div class="display-label">Length: @Html.DisplayFor(model => model.Length)</div>
    
    <div class="display-label">Width: @Html.DisplayFor(model => model.Width)</div>
    
    <div class="display-label">PriceLights: @Html.DisplayFor(model => model.PriceLights)</div>
    
    <div class="display-label">PriceNoLights: @Html.DisplayFor(model => model.PriceNoLights)</div>

    <div>
        @Html.Partial("AnonymousScheduleView", Model.Schedule)
    </div>
</fieldset>

